.secao {
    float: left;
    width: 33.333%;
}

.mini {
    float: left;
    width: 50%;
}

/* Centraliza o conteúdo na tela e defina um tamanho máximo de 1200p */
.container{
    margin: 0 auto;
    max-width: 1200px;
}
.logo,
.secao {
    padding: 0 1%;
}
/* Evita que as imagens estourem os elementos que as contém */
img {
    max-width: 100%;
}

/* 
Configurar o topo do site: 
 - Colocar tudo na mesma linha
 - Os blocos "escorreguem" para baixo naturalmente ao redimensionar a tela
*/
.logo,
.busca,
.barra-nav,
.menu-principal {
    display: inline-block;
    vertical-align: middle;
}

.menu-principal li {
    float: left;
}

/** Medidas proporcionais a fonte do texto **/
header {
    padding: 0.5em 0;
}
.destaques {
    margin-top: 1em;
}
.barra-nav {
    margin: 0.4em 0;
}