.secao {
    float: left;
    /* width: 33.333%; */
    width: 100%; /*  Alterado para o media query mobile first. */
}

.mini {
    float: left;
    width: 50%;
}

/* Centraliza o conteúdo na tela e defina um tamanho máximo de 1200p */
.container{
    margin: 0 auto;
    max-width: 1200px;
}
.logo,
.secao {
    padding: 0 1%;
}
/* Evita que as imagens estourem os elementos que as contém */
img {
    max-width: 100%;
}

/* 
Configurar o topo do site: 
 - Colocar tudo na mesma linha
 - Os blocos "escorreguem" para baixo naturalmente ao redimensionar a tela
*/
.logo,
.busca,
.barra-nav,
.menu-principal {
    display: inline-block;
    vertical-align: middle;
}

.menu-principal li {
    float: left;
}

/** Medidas proporcionais a fonte do texto **/
header {
    padding: 0.5em 0;
}
.destaques {
    margin-top: 1em;
}
.barra-nav {
    margin: 0.4em 0;
}

/* Media queries para aumentar todas as fontes proporcionalmente em telas maiores. */
/* Dividimos tudo em 3 colunas antes, o que é bom para o Desktop. Mas talvez fosse interessante deixar em 1 coluna em telas pequenas e 2 colunas em telas intermediárias.  */
@media (min-width: 600px) {
    html {
        font-size: 1.125em;
    }
    .secao {
        width: 50%;
    }
}

@media (min-width: 1000px) {
    html {
        font-size: 1.25em;
    }
    .secao {
        width: 33.333%;
    }
}

@media (max-width: 600px) {
    .barra-nav {
        background: #f0f0f0;
        padding: 1em;
        margin: 0;

        height: 100%;
        width: 90%;
        max-width: 320px; /*  vale para telas pequenas e menu não tampar tudo.  */

        position: fixed; /* posicionar o menu lateralmente fora da tela */
        z-index: 1;
        top: 0;
        left: -90%; /* posicionar o menu lateralmente fora da tela */

        transition: left 0.3s ease-out; /* animação do menu (left é a propriedade a ser animada, tempo e tipo de efeito) */
        
    }
     
    .menu-ativo .barra-nav {
        left: 0;
    }

    .menu-principal li {
        padding: 1em 0;
        width: 100%;
    }
    /* Parte cinza do lado do menu */
    .menu-ativo:after {
        content: "";
        display: block;

        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        background: rgba(0,0,0,0.4);
    }
}

/* no Desktop o menu lateral não é usado, é esconder os botões  */
@media not all and (max-width: 600px) {
    .menu-abrir,
    .menu-fechar {
        display: none;
    }    
}

.logo img {
    width: 200px;
}

/* ícone hamburguer (três traços) e X para fechar */
/* CSS puro: é vetorial e escala em todo tipo de tela */
.menu-abrir,
.menu-fechar {
    background: none;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    font-size: 1.6em;
    text-indent: -999em;
}

.menu-abrir {
    height: 0;
    width:.75em;
    padding-top:.125em;
    border-top: .375em double #000;
    border-bottom: .125em solid #000;

    vertical-align: middle;
    margin: 0.5em;    
}

.menu-fechar {
    position: relative;
    height: 1em;
    width: 1em;
}
    .menu-fechar:before {
        content: '\00D7';
        position: absolute;
        top: 0;
        left: 0;
        text-indent: 0;
    }